# vim: ft=yaml:
# configuration file for the
#
# string variables
# path to and extension of the address files
# (ie input and output, respectively)
path: ./addresses/
extension: .yaml

# dict variable
# Keys for yaml address entries.
entries:
    givenName: ""
    familyName: ""
    nameLanguage: ""
    theAddress:
        moreNames: ""
        academicDegrees: ""
        academicDegreeInSalutation: ""
        styleInSalutation: ""
        companyName: ""
        houseNumber: ""
        street: ""
        city: ""
        postalCode: ""
        postBox: ""
        country: ""
